@{
    ViewBag.Title = "Home";
}

<h3 class="text-center text-uppercase">List of employees</h3>

<table id="example" class="table table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start Date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start Date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var datatableInstance = $('#example').DataTable({
                "ajax": {
                    "url": '/Home/GetData',
                    "type": 'GET',
                    "dataType": 'json',
                },
                "columns": [
                    { 'data': 'Id' },
                    { 'data': 'Name' },
                    { 'data': 'Position' },
                    { 'data': 'Office' },
                    { 'data': 'Age' },
                    {
                        'data': 'StartDate',
                        'render': function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                        }
                    },
                    {
                        'data': 'Salary',
                        'render': function (salary) {
                            return '$' + salary;
                        }
                    }
                ]
            });

            $('#example tfoot th').each(function () {
                var title = $('#example thead th').eq($(this).index()).text();
                $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
            });

            datatableInstance.columns().every(function () {
                var dataTableColumn = this;

                $(this.footer()).find('input').on('keyup change', function () {
                    dataTableColumn.search(this.value).draw();
                });
            });
        });
    </script>
}